@model RS.MVC.Models.CompanyCreateViewModel

<form class="ui form" id="companyForm">
            <div class="field">
                <label for="Name">Şirket Adı</label>
                <input type="text" name="Name" id="Name">
            </div>
            <div class="three fields">
                <div class="field">
                    <label for="TypeId">Şirketin Niteliği</label>
                    <select asp-for="TypeId" asp-items="@ViewBag.CompanyTypes">
                    <option value="">--Seçiniz--</option>
                    </select>
                </div>
                <div class="field">
                    <label for="ScaleId">Şirketin Büyüklüğü</label>
                    <select asp-for="ScaleId" asp-items="@ViewBag.CompanyScales">
                    <option value="">--Seçiniz--</option>
                    </select>
                </div>
                <div class="field">
                    <label for="WorklineId">Şirketin İş Kolu</label>
                    <select asp-for="WorklineId" asp-items="@ViewBag.Worklines">
                        <option value="">--Seçiniz--</option>
                    </select>
                </div>
            </div>
   <button class="ui button" type="submit">Ekle</button>
</form>

    <script>
        $(function() {
            
                // $("#isOutsourcePartial").change(function(){
                //     console.log("outsourcePartial");
                //     if($(this).val()=="1")
                //     {
                //         $("#outsourcePartial").show();
                //         $("#mainCompany").hide();
                //     }
                //     else
                //     {
                //         $("#outsourcePartial").hide();
                //         $("#mainCompany").show();
                //     }
                // });
        });
        $("#companyForm").on('submit', function (e) {
            e.preventDefault() // prevent the form's normal submission
            var dataToPost = $(this).serialize()
          
                $.post("/Resistance/AddCompany", dataToPost)
                        .done(function(response, status, jqxhr){ 
                            console.log(response);
                            $('#CompanyId').append($('<option>', {
                                value: response.companyId,
                                text: response.companyName
                            }));
                            
                           $('#CompanyId').dropdown('set selected', response.companyId);
                           alert("Kurum eklendi");
                            $(".ui.modal").modal("hide");
                            
                        })
                        .fail(function(jqxhr, status, error){ 
                            // this is the ""error"" callback
                        })
        
    })
  
    </script>

