
<div class="ui two column divided grid">
<div class="row">
  <div class="column">
  <form class="ui form">
    <h4 class="ui dividing header">Direniş Ekleme</h4>
    <div class="field">
      <label for="CompanyId">Şirket</label>
      <select id="exampleFormControlSelect1">
        <option>Flormar</option>
        <option>Avon</option>
        <option>Nestle</option>
        <option>Renault</option>
        <option>Tofaş</option>
      </select>
    </div>
    <div class="field">
      <label for="CategoryId">Vaka Niteliği</label>
      <select id="CategoryId">
        <option>İşletme/Kurum</option>
        <option>Dayanışma</option>
        <option>Genel</option>
      </select>
    </div>
    <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>Taşeron mu?</label>
    </div>
    </div>
  
    <div class="field">
      <label for="OutsourceId">Vaka Niteliği</label>
      <select class="form-control" id="OutsourceId">
        <option>Avcılık, balıkçılık, tarım ve ormancılık</option>
        <option>Gıda sanayi</option>
        <option>Madencilik ve taş ocakları</option>
        <option>Petrol, kimya, lastik, plastik ve ilaç</option>
      </select>
    </div>
    <div class="field">
      <label for="OutsourceId">Asıl İşveren Adı</label>
      <input class="form-control" type="text">
    </div>
    <div class="field">
      <label for="OutsourceId">Asıl İşveren İş Kolu</label>
      <select class="form-control" id="OutsourceId">
        <option>Avcılık, balıkçılık, tarım ve ormancılık</option>
        <option>Gıda sanayi</option>
        <option>Madencilik ve taş ocakları</option>
        <option>Petrol, kimya, lastik, plastik ve ilaç</option>
      </select>
    </div>
    <div class="field">
      <label for="OutsourceId">İş Yerindeki İşçi Sayısı</label>
      <select class="form-control" id="OutsourceId">
        <option>A-1-50</option>
        <option>B-51-250</option>
        <option>C-250 ve üstü</option>
      </select>
    </div>
    <div class="field">
      <label for="OutsourceId">İş Yerindeki İşçi Sayısı (Tam)</label>
      <input class="form-control" type="text">
    </div>
    <div class="field">
      <label for="OutsourceId">Eylemdeki İşçi Sayısı</label>
      <select class="form-control" id="OutsourceId">
        <option>A-1-50</option>
        <option>B-51-250</option>
        <option>C-250 ve üstü</option>
      </select>
    </div>
    <div class="field">
      <label for="OutsourceId">Eylemdeki İşçi Sayısı (Tam)</label>
      <input class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="column">
  <h4 class="ui dividing header">Haberler</h4>
</div>
</div>
</div>
