@model IEnumerable<RS.COMMON.DTO.ResistanceIndexDto>
<table class="table table-hover">
<thead>
    <tr>
        <th>Şirket İsmi</th>
         <th>Vaka Niteliği</th>
        <th>Başlangıç Tarihi</th>
       
    </tr>
</thead>
<tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.CompanyName</td>
            <td>@item.CategoryName</td>
            <td>@item.StartDate</td>
        </tr>
    }
        
</tbody>
</table>