    <div class="ui two column divided grid">
        <div class="row">
            <div id="leftColumn" class="column" >
                <div class="ui column dimmer" id="leftDimmer">
                    <div class="content">
                        <div class="ui text loader">İşlem Yapılıyor</div>
                    </div>
                </div>
                <h4 class="ui dividing header">Vakalar </h4>
                <div class="ui attached secondary segment">
                    <div class="ui top attached filter label"><i class="filter icon"></i>  <i id="direction" class="up chevron icon" style="float: right;"></i></div>
                    <div class="ui small filter form">
                        <div class="fields">
                            <div class="six wide field">
                                <a id="createResistance" class="ui button"><i class="plus icon"></i>Ekle</a>
                            </div>
                            <div class="nine wide field">
                                <select asp-items="@ViewBag.Companies" class="ui fluid search selection dropdown" id="companyId"> 
                                    <option value="">--Seçiniz--</option>
                                </select>
                            </div>
                            <div class="six wide field">
                                <button id="btnFilter" class="ui left labeled icon button"><i class="filter icon"></i>Filtrele</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="results" style="overflow-y: scroll; height:700px;">
                </div>
            </div>
            <div class="column" id ="rightColumn" >
                <div class="ui column dimmer" id="rightDimmer">
                    <div class="content">
                        <div class="ui text loader">İşlem Yapılıyor</div>
                    </div>
                </div>
                <h4 class="ui dividing header">Haberler</h4>
                <div class="ui attached secondary segment">
                    <div class="ui top attached filter label"><i class="filter icon"></i> Arama <i id="direction" class="up chevron icon" style="float: right;"></i></div>
                    <div class="ui small filter form">
                        <div class="fields">
                            <div class="four wide field">
                                <select class="ui fluid search selection dropdown" id="yearId">
                                    <option value="2019">2019</option>
                                </select>
                                </div>
                                <div class="five wide field">
                                    <select class="ui fluid search selection dropdown" id="monthId">
                                        <option value="">--Seçiniz--</option>
                                        <option value="1">Ocak</option>
                                        <option value="2">Şubat</option>
                                        <option value="3">Mart</option>
                                        <option value="4">Nisan</option>
                                        <option value="5">Mayıs</option>
                                        <option value="6">Haziran</option>
                                        <option value="7">Temmuz</option>
                                        <option value="8">Ağustos</option>
                                        <option value="9">Eylül</option>
                                        <option value="10">Ekim</option>
                                        <option value="11">Kasım</option>
                                        <option value="12">Aralık</option>
                                    </select>
                                </div>
                                <div class="four wide field">
                                    <button id="btnFilterPeriod" class="ui left labeled icon button"><i class="filter icon"></i>Filtrele</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divided items" id="news" style="overflow-y: scroll; height:700px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="/app/indexResistance.js" type="text/javascript"></script>
    <script type="text/javascript">
  
        $(document).on("click", ".a", function(){
            var newsId = $(this).data("id");
            let a = $(this);
            let opened = $(this).data("open");
            let desc = $(".description[data-id='" +newsId + "']");
            console.log(desc.is(":visible"));
            console.log(opened);
            if(opened == "0")
            { 
                $.ajax({
                url: "/Resistance/GetNewsContent",
                data: {newsId: newsId},
                success: function (response) {
                    console.log(response);
                    console.log(desc);
                    a.data("open","1");
                    console.log(a);
                    desc.append(response);
                    desc.show();
                    }
                });
            }
            if(desc.is(":visible"))
            {
                desc.hide();
            }
            else{
                desc.show();
            }
            
        });
        let counter = 0;
        $(".copyLink").on('click', function(){
            let id = $(this).data("id");
            let newsHtml = $(this).closest(".item").clone().find('.copyLink').remove().end()
            .find('.red').remove().end().html();
            $("#resistanceNews").append("<div class='item' data-id='"+id+"'>");
            $("#resistanceNews").find(".item[data-id='"+id+"']").append(newsHtml);
            $("#resistanceNews").find(".item[data-id='"+id+"']").find(".meta")
                                .append("<button class='ui icon button red mini btnRemove' data-id='"+id+"'><i class='trash icon'></i></button>");
            let newsInput = "<input name='ResistanceNewsIds["+counter+"]' type='hidden' value='"+id+"'>";
            $("#resistanceNews").append(newsInput);
            counter++;
        });
        $(document).on("click", ".btnRemove", function(){
            let id = $(this).data("id")
            let item = $(this).closest(".item[data-id='"+id+"']");
            item.remove();

        });

         $(".ddmmyyyy").mask("99.99.9999", { placeholder: "gg.aa.yyyy" });
       });
    </script>
}
