    <div class="ui two column divided grid">
        <a id="listCase" class="ui button"><i class="list icon"></i>Vakalar</a>
        <div class="row">
            <div class="column">
                <div class="ui column dimmer" id="leftDimmer">
                    <div class="content">
                        <div class="ui text loader">İşlem Yapılıyor</div>
                    </div>
                </div>
                <div id="leftColumn"></div>
            </div>
            <div class="column">
                <div class="ui column dimmer" id="rightDimmer" style="display:none">
                    <div class="content">
                        <div class="ui text loader">İşlem Yapılıyor</div>
                    </div>
                </div>
                <div id="rightColumn">
                    <h4 class="ui dividing header">Haberler</h4>
                    <div class="ui attached secondary segment">
                        <div class="ui small filter form">
                            <div class="fields">
                                <div class="four wide field">
                                    <select class="ui fluid search selection dropdown" id="yearId">
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                </div>
                                <div class="five wide field">
                                    <select class="ui fluid search selection dropdown" id="monthId">
                                        <option value="">--Seçiniz--</option>
                                        <option value="1">Ocak</option>
                                        <option value="2">Şubat</option>
                                        <option value="3">Mart</option>
                                        <option value="4">Nisan</option>
                                        <option value="5">Mayıs</option>
                                        <option value="6">Haziran</option>
                                        <option value="7">Temmuz</option>
                                        <option value="8">Ağustos</option>
                                        <option value="9">Eylül</option>
                                        <option value="10">Ekim</option>
                                        <option value="11">Kasım</option>
                                        <option value="12">Aralık</option>
                                    </select>
                                </div>
                                <div class="four wide field">
                                    <button id="btnFilterPeriod" class="ui left labeled icon button"><i class="filter icon"></i>Filtrele</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divided items" id="news" style="overflow-y: scroll; height:700px;">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="ui mini modal" id="modalprotestoDelete">
        <div class="header">
            Eylem silme
        </div>
        <div class="content">
            <p>Eylemi simek istediğinizden emin misiniz?</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                Hayır
            </div>
            <div id="btnCancelProtesto" class="ui positive right labeled icon button">
                Evet
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div class="ui mini modal" id="modalResistanceDelete">
        <div class="header">
            Vaka silme
        </div>
        <div class="content">
            <p>Vakayı simek istediğinizden emin misiniz?</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                Hayır
            </div>
            <div id="btnCancelResistance" class="ui positive right labeled icon button">
                Evet
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
@section Scripts {
    <script src="/app/indexResistance.js" type="text/javascript"></script>
    <script type="text/javascript">
  
        $(document).on("click", ".a", function(){
            var newsId = $(this).data("id");
            let a = $(this);
            let opened = $(this).data("open");
            let desc = $(".description[data-id='" +newsId + "']");
            console.log(desc.is(":visible"));
            console.log(opened);
            if(opened == "0")
            { 
                $.ajax({
                url: "/Resistance/GetNewsContent",
                data: {newsId: newsId},
                success: function (response) {
                    console.log(response);
                    console.log(desc);
                    a.data("open","1");
                    console.log(a);
                    desc.append(response);
                    desc.show();
                    }
                });
            }
            if(desc.is(":visible"))
            {
                desc.hide();
            }
            else{
                desc.show();
            }
            
        });
        let newsCounter = 0;
        console.log("newsCounter: " +newsCounter);
        $(document).on('click', ".copyLink", function(){
            let id = $(this).data("id");
            console.log(newsCounter);
            let newsHtml = $(this).closest(".item").clone().find('.copyLink').remove().end()
            .find('.red').remove().end().html();
             let newsInput = "<input name='ResistanceNewsIds["+newsCounter+"].Id' type='hidden' value='"+id+"'>" +
            "<input name='ResistanceNewsIds["+newsCounter+"].IsDeleted' type='hidden' value='False'>"

            $("#resistanceNews").append("<div class='item' data-id='"+id+"'>");
            $("#resistanceNews").find(".item[data-id='"+id+"']").append(newsHtml);
            $("#resistanceNews").find(".item[data-id='"+id+"']").find(".meta")
                .append("<button type='button' class='ui icon button red mini btnRemove' data-id='" + id + "'><i class='trash icon'></i></button>" + newsInput);
            console.log(newsInput);
            $(this).parent().parent().find("a").css("color","red");

            newsCounter++;
        });
        $(document).on("click", ".btnRemove", function(){
            console.log("removed");
            let id = $(this).data("id");
            let item = $(this).closest(".item[data-id='"+id+"']");
            console.log($(this).parent().parent());
            let isDeleted = $(this).parent().parent().find("input[name$='.IsDeleted']");
            console.log(isDeleted);
            isDeleted.val("True");
            item.hide();

            var newsItem = $("#news").find(".item[data-id='"+id+"']").find("a").css("color","");
            console.log(newsItem);
        });
    </script>
}
