
@{
    ViewData["Title"] = "Index";
}
<div class="ui page dimmer">
    <div class="content">
        <div class="ui text loader">İşlem Yapılıyor</div>
    </div>
</div>
<div class="ui container">
    <div id="companyList" class="ui divided items">

    </div>

</div>
<div class="ui modal" id="modalCompany">
    <i class="close icon"></i>
    <div class="header">
        Şirket Düzenle
    </div>
    <div class="content" id="modalCompany-content">
    </div>
</div>
<div class="ui modal" id="modalDeleteCompany">
    <i class="close icon"></i>
    <div class="header">
        Şirket Sil
    </div>
    <div class="content">
        Şirket silmek istediğinizden emin misiniz?
    </div>
    <div class="actions">
        <div class="ui negative button">
            Hayır
        </div>
        <div id="btnDeleteCompany" class="ui positive right labeled icon button">
            Evet
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" id="modalReplaceCompany">
    <i class="close icon"></i>
    <div class="header">
        Şirket Değiştir
    </div>
    <div class="content">
        <p>Şirket vakalarda kullanılıyor. Silmek için önce başka bir şirket değişkeni ile değiştirin.</p>
        <div class="ui form">
            <div class="field">
                <label>Kurum</label>
                <select asp-items="ViewBag.Company" id="companyDD" class="ui dropdown search"></select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Hayır
        </div>
        <button id="btnReplaceCompany" class="ui positive right labeled icon button">
            Evet
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
@section Scripts {
    <script src="~/app/company.js"></script>
}
