@model IEnumerable<NewsListModel>
<div class="ui page dimmer">
    <div class="content">
        <div class="ui text loader">İşlem Yapılıyor</div>
    </div>
</div>
<h4 class="ui dividing header">Haberler</h4>
<div class="ui attached secondary segment">
    <div class="ui top attached filter label"><i class="filter icon"></i> Arama <i id="direction" class="up chevron icon" style="float: right;"></i></div>
    <div class="ui small filter form">
        <div class="fields">
            <div class="two wide field">
                <select class="ui fluid search selection dropdown" id="yearId">
                    @for (int i = 2019; i <= DateTime.Now.Year; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="two wide field">
                <select class="ui fluid search selection dropdown" id="monthId">
                    <option value="">--Seçiniz--</option>
                    <option value="1">Ocak</option>
                    <option value="2">Şubat</option>
                    <option value="3">Mart</option>
                    <option value="4">Nisan</option>
                    <option value="5">Mayıs</option>
                    <option value="6">Haziran</option>
                    <option value="7">Temmuz</option>
                    <option value="8">Ağustos</option>
                    <option value="9">Eylül</option>
                    <option value="10">Ekim</option>
                    <option value="11">Kasım</option>
                    <option value="12">Aralık</option>
                </select>
            </div>

            <div class="six wide field">
                <div class="two fields">
                    <div class="field">
                        <button id="btnFilterPeriod" class="ui left labeled icon button"><i class="filter icon"></i>Filtrele</button>
                    </div>
                    <div class="field">
                        <button id="downloadFile" type="button" class="ui right floated button" value="Download">
                            <i class="icon file"></i>Haber Dosyası İndir
                        </button>
                    </div>
                </div>
            </div>
            <div class="four wide field">
                <button id="chooseFile" type="button" class="ui right floated button" value="Upload">
                    <i class="icon file"></i>Haber Dosyası Yükle
                </button>
            </div>
        </div>
    </div>
</div>
<div id="newsList" class="ui divided items">

</div>
<div id="upload-modal" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Yeni Haber Dosyası</div>
    <div class="content">
        <div class="ui blue message" style="text-align: center">
            Dönemi ay ve yıl olarak seçin.
        </div>
        <form class="ui form" id="uploadForm" action="/Profile/UploadDocument" enctype="multipart/form-data">
            <div class="two fields">
                <div class="field">
                    <select class="ui fluid search selection dropdown" name="year">
                        @for (int i = 2019; i <= DateTime.Now.Year; i++)
                        {
                        <option value="@i">@i</option>
                        }
                    </select>
                </div>
                <div class="field">
                    <select class="ui fluid search selection dropdown" name="month">
                        <option value="">--Seçiniz--</option>
                        <option value="1">Ocak</option>
                        <option value="2">Şubat</option>
                        <option value="3">Mart</option>
                        <option value="4">Nisan</option>
                        <option value="5">Mayıs</option>
                        <option value="6">Haziran</option>
                        <option value="7">Temmuz</option>
                        <option value="8">Ağustos</option>
                        <option value="9">Eylül</option>
                        <option value="10">Ekim</option>
                        <option value="11">Kasım</option>
                        <option value="12">Aralık</option>
                    </select>
                </div>
            </div>
            <div class="ui basic center aligned segment">
                <input type="file" name="file" id="file" class="inputfile inputfile-2">
                @*<label for="file">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                        <span>Belge seçiniz</span>
                    </label>*@
            </div>
            <div class="ui message" style="text-align: center">Yükleyeceğiniz belgesinin uzantısı xlsx olmalıdır.</div>
            <div class="ui basic center aligned segment">
                <input type="submit" class="ui small blue icon button" name="Submit" id="uploadBtn" value="Yükle" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "/News/Filter",
                data: {
                    year: $("#yearId").val(),
                    month: $("#monthId").val()
                },
                success: function (response) {
                    $("#newsList").html(response);
                }
            });

            $("#uploadbutton").click(function () {
                var filename = $("#file").val();
                $.ajax({
                    type: "POST",
                    url: "/News/Upload",
                    enctype: 'multipart/form-data',
                    data: {
                        file: filename,
                        period: period
                    },
                    success: function () {
                        alert("Data Uploaded: ");

                    }
                });
            });
            $("#uploadForm").on('submit', (function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/News/UploadFile",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if (data.success) {
                            $(".modal").dimmer('hide');
                            alert("İşleminiz başarılı");
                        } else {
                            $(".modal").dimmer('hide');
                            alert(data.errorMessages[0]);
                        }
                    }
                });

            }));
            $("#chooseFile").click(function () {
                $("#upload-modal").modal("setting", {
                    onApprove: function () {
                        return false;
                    }
                }).modal("show");
            });
            $("#btnFilterPeriod").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/News/Filter",
                    data: {
                        year: $("#yearId").val(),
                        month: $("#monthId").val()
                    },
                    success: function (response) {
                        $("#newsList").html(response);
                    }
                });
            });
        });
        $(document).on("click", ".approve", function () {
            let tr = $(this).parents("tr");
            let newsId = tr.data("id");

            $.ajax({
                type: "POST",
                url: "/News/MarkAsResistanceNews",
                data: { newsId: newsId },
                success: function (response) {
                    let td = tr.find("td:eq(2)")
                    td.html('<i class="green thumbs up icon"></i>');
                }
            });

        });
        $(document).on("click", ".cancel", function () {
            let tr = $(this).parents("tr");
            let newsId = tr.data("id");

            $.ajax({
                type: "POST",
                url: "/News/MarkAsUnrelatedNews",
                data: { newsId: newsId },
                success: function (response) {
                    let td = tr.find("td:eq(2)");
                    console.log(td);
                    td.html('<i class="red thumbs down icon"></i>');
                }
            });

        });
        $(document).on("click", "#downloadFile", function () {
            $(".dimmer").dimmer("show");
            getFileFromAjax();
            $(".dimmer").dimmer("hide");
        });
        function getFileFromAjax() {
            let now = new Date();
            let year = $("#yearId").val();
            if (year === "") {
                year = now.getDate();
            }

            let month = $("#monthId").val();
            if (month === "") {
                month = now.getMonth();
            }

            $.ajax({
                url: "/News/DownloadFile?year=" + year + "&month=" + month,
                method: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                        var blob = new Blob(
                            [data],
                            { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," }
                        );
                        window.navigator.msSaveOrOpenBlob(blob, "Haberler");
                    }
                    a.href = url;
                    a.download = "Haberler";
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);

                }
            });

        }
    </script>
}