<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Direniş İzleme</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <!-- <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment> -->
</head>
<body>
    <div class="ui container">
        <div class="ui pointing menu">
            <div class="header item">
                Emek Çalışmaları Topluluğu
            </div>
            <a href="/Resistance" class="active item">
                Direnişler
            </a>
            <a href="/Resistance/Create" class="item">
                Direniş Ekle
            </a>
            <a class="item">
                Haberler
            </a>
        </div>
         <div class="ui segment">
            @RenderBody()
        </div>
        <div class="ui menu basic segment container stackable">
        <div class="ui container">
            <a href="http://emekcalisma.org/" class="logo item">
                EÇT
            </a>
            <div class="item">
                <div>Emek Çalışmaları Topluluğu</div>
            </div>
           
            <div class="item">
                <i class="mail icon"></i> <a href="mailto:emekcalisma@gmail.com">emekcalisma@gmail.com</a>
            </div>
        </div>
        </div>
    </div>
    
    
   
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/dist/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
         @Html.Partial("_ValidationScriptsPartial");
        <script>
            $('.ui.dropdown')
                .dropdown();
        </script>
    
   
    @RenderSection("Scripts", required: false)
</body>
</html>
