<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Direniş İzleme</title>
    <link rel="stylesheet" href="~/dist/semantic.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/site.css" type="text/css"/>
</head>
<body id="example">
     <div class="ui page dimmer">
        <div class="content">
            <div class="ui text loader">İşlem Yapılıyor</div>
        </div>
    </div>
    <div class="ui fixed inverted menu">
        <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="/images/ECTLogo.jpg">
        </a>
        <a href="#" class="item">EÇT</a>
       
             <a class="item" id="listCase" href="/Resistance">
                        Vakalar
                    </a>
          
           <a class="item" href="/News">
                        Haberler
                    </a>
           
                 <a class="item" href="#">
                        Kullanıcılar
                    </a>
        </div>
        </div>
  </div>
  <div class="ui grid container" style="margin-top:20px">
                @RenderBody()
                </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/dist/semantic.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
     <script type="text/javascript">
    $(document).ready(function () {
          let token = window.localStorage.getItem('token');
            $.ajaxSetup({
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer '+ token);
                }
            });
            });
   </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
