<div class="ui vertical inverted menu">
    <div class="item">
    <a class="ui logo icon image" href="/">
        <img src="/images/logo.png">
    </a>
    <a href="/"><b>EÇT</b></a>
    </div>
    
    <div class="item">
        <div class="header">Introduction</div>
        <div class="menu">
            <a href="/Resistance" class="active item">
                Direnişler
            </a>
            <a class="item">
                Haberler
            </a>
        </div>
    </div>
</div>
