
@{
    ViewData["Title"] = "Vaka Nedenleri";
}
<div class="ui page dimmer">
    <div class="content">
        <div class="ui text loader">İşlem Yapılıyor</div>
    </div>
</div>
<div class="ui container">
    <div id="resistanceReasonList" class="ui divided items">

    </div>

</div>
<div class="ui modal" id="modalDeleteResistanceReason">
    <i class="close icon"></i>
    <div class="header">
        Vaka Nedeni Sil
    </div>
    <div class="content">
        Vaka Nedeni silmek istediğinizden emin misiniz?
    </div>
    <div class="actions">
        <div class="ui negative button">
            Hayır
        </div>
        <div id="btnDeleteResistanceReason" class="ui positive right labeled icon button">
            Evet
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" id="modalReplaceResistanceReason">
    <i class="close icon"></i>
    <div class="header">
        Vaka Nedeni Değiştir
    </div>
    <div class="content">
        <p>Bu değişken vakalarda kullanılıyor. Silmek için önce başka bir değişken ile değiştirin.</p>
        <div class="ui form">
            <div class="field">
                <label>Kurum</label>
                <select asp-items="ViewBag.ResistanceReasons" id="resistanceReasonDD" class="ui dropdown search"></select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Hayır
        </div>
        <button id="btnReplaceResistanceReason" class="ui positive right labeled icon button">
            Evet
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
@section Scripts {
    <script src="~/app/resistanceReason.js"></script>
}
