
@{
    ViewData["Title"] = "Kurumlar";
}
<div class="ui page dimmer">
    <div class="content">
        <div class="ui text loader">İşlem Yapılıyor</div>
    </div>
</div>
<div class="ui container">
    <div id="corporationList" class="ui divided items">

    </div>

</div>
<div class="ui modal" id="modalDeleteCorporation">
    <i class="close icon"></i>
    <div class="header">
        Kurum Sil
    </div>
    <div class="content">
        Kurumu silmek istediğinizden emin misiniz?
    </div>
    <div class="actions">
        <div class="ui negative button">
            Hayır
        </div>
        <div id="btnDeleteCorporation" class="ui positive right labeled icon button">
            Evet
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" id="modalReplaceCorporation">
    <i class="close icon"></i>
    <div class="header">
        Kurum Değiştir
    </div>
    <div class="content">
        <p>Kurum vakalarda kullanılıyor. Silmek için önce başka bir kurum değişkeni ile değiştirin.</p>
        <div class="ui form">
            <div class="field">
                <label>Kurum</label>
                <select asp-items="ViewBag.Corporations" id="corporationDD" class="ui dropdown search" ></select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Hayır
        </div>
        <button id="btnReplaceCorporation" class="ui positive right labeled icon button">
            Evet
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
@section Scripts {
    <script src="~/app/corporation.js"></script>
}
